<h2 class="form-signin-heading"> Meus Dados </h2>

<div class="control-group">
      <div class="control-group">
            Nome: <%= client.name %>
      </div>
      <div class="control-group">
            Email: <%= client.email %>
      </div>
<br/>
      